<div class="grey-border-left">
  <p> <%= @questions %></p>
  <p> -<em>You</em></p>
</div>
<div class="yellow-background grey-border-left">
  <p> <strong><%= @answer %></strong></p>
  <p> -<em>Your coach</em></p>
</div>

<%= link_to "Ask a new question", ask_path  %>
