<h1>Questions#answer</h1>
<p>Find me in app/views/questions/answer.html.erb</p>
<h2>Stupid Coaching</h2>
<p> <%= @questions %></p>
<p> -<em>You</em></p>
<p> <%= @answer %></p>
<p> <strong></strong></p>
<p> -<em>Your coach</em></p>


