
<div>

<p>Ask your coach anything!</p>
<div class=container-form>
  <form class="form-inline" action="/answer">
    <input type="text" name="question" class="input-field">
    <input type="submit" value="Ask!" class="btn">
</div>
</form>

