// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.btn {
  background-color: #0371B8;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  padding: 15px;
  border: none;
}

.container-form {
  width: 500px;
}

.form-inline {
  display: flex;

}

.input-field {
  flex-grow: 1;
  padding: 15px;
  border-radius: 5px;
}

body {
  font-family: sans-serif;
  margin-left: 10px;
}

h1 {
  font-weight: lighter;
}

.yellow-background {
  background-color: #F6F3CC;
}

.grey-border-left {
  border-left: 6px solid grey;
  padding: 10px;
  margin-bottom: 20px;
}
